<p id="notice"><%= notice %></p>
<h1>Articles Written by:  <%= @author.username %></h1>
<ul>
  <% @author.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<% if @author.username == current_user.username %>
<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
<% end %>
